<!DOCTYPE html>
<html ng-app="AngApp">
  <head>
    <meta charset="utf-8">
    <title>SF Transit</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
 <!--    <script src="libs/jquery.js"></script> -->
    <script src="libs/angular.js"></script>
    <script src="libs/angular-route.js"></script>
    <script src="libs/angular-xml.min.js"></script>
    <script src="libs/d3.v3.min.js"></script>
    <script src="libs/topojson.v1.min.js"></script>
    <script src="libs/ui-bootstrap-tpls-0.10.0.min.js"></script>
    <link href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"
    rel="stylesheet">

    <script src='javascripts/angApp.js'></script>
    <script src='javascripts/d3.js'></script>
    <script src='javascripts/AppController.js'></script>
    <script src='javascripts/Bus.directives.js'></script>
    <script src='javascripts/Routes.directives.js'></script>
    <script src='javascripts/BusLocations.js'></script>
    <script src='javascripts/ServiceRoutes.js'></script>
  </head>
  <body ng-controller="homeCTRL">
  <H1>SF Muni Routes</H1>  
  <div id="searchWrapper">
      <div class="form-group">
        <form ng-submit="submitSearch(selected)">
          <span><input type="text" ng-model="selected" placeholder="Search for Route..." typeahead="item for item in routeList | filter:$viewValue | limitTo:8" class="form-control"><button ng-click="submitSearch(selected)" type = "button" class="btn-large btn btn-success searchButton">SEARCH</button><span>
        </form>
      </div>
    </div>
    <div class="d3chart" label="d3Buses" data="d3Data" id="Buses">
      <d3-Routes label="d3RouteLabel" data="d3RouteData" id="Routes" on-click="d3RoutesOnClick(item)">
      <d3-Buses label="d3Label" data="d3Data" id="Buses"></d3-Buses> 
      </d3-Buses>
    </div>

  </body>
</html>
